@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: Nunito;
}
.display-1 {
  font-family: 'Nunito', sans-serif;
  font-size: 6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Nunito', sans-serif;
  font-size: 3.6rem;
  line-height: 1.2;
}
.display-2 > .mbr-iconfont {
  font-size: 5.76rem;
}
.display-4 {
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 2.56rem;
}
.display-7 {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
@media (max-width: 992px) {
  .display-1 {
    font-size: 4.8rem;
  }
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.88rem;
    font-size: calc( 1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.91rem + (3.6 - 1.91) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 1.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #ed6436 !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary {
  box-shadow: 0 0 0 100px #ed6436 inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-primary,
.btn-primary:active {
  background-color: #ed6436 !important;
  border-color: #ed6436 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #c53f12 !important;
  border-color: #c53f12 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #c53f12 !important;
  border-color: #c53f12 !important;
}
.btn-primary:hover,
.btn-primary:focus {
  box-shadow: 0 0 0 2px #ed6436 inset !important;
  background: transparent!important;
  border: none!important;
  color: #ed6436 !important;
}
.btn-primary span {
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
@media (max-width: 767px) {
  .btn-primary {
    width: -webkit-fill-available;
  }
}
.btn-secondary {
  box-shadow: 0 0 0 100px #181818 inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #181818 !important;
  border-color: #181818 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary:hover,
.btn-secondary:focus {
  box-shadow: 0 0 0 2px #181818 inset !important;
  background: transparent!important;
  border: none!important;
  color: #181818 !important;
}
.btn-secondary span {
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
@media (max-width: 767px) {
  .btn-secondary {
    width: -webkit-fill-available;
  }
}
.btn-info {
  box-shadow: 0 0 0 100px #82786e inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info:hover,
.btn-info:focus {
  box-shadow: 0 0 0 2px #82786e inset !important;
  background: transparent!important;
  border: none!important;
  color: #82786e !important;
}
.btn-info span {
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
@media (max-width: 767px) {
  .btn-info {
    width: -webkit-fill-available;
  }
}
.btn-success {
  box-shadow: 0 0 0 100px #f7ed4a inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success:hover,
.btn-success:focus {
  box-shadow: 0 0 0 2px #f7ed4a inset !important;
  background: transparent!important;
  border: none!important;
  color: #f7ed4a !important;
}
.btn-success span {
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
@media (max-width: 767px) {
  .btn-success {
    width: -webkit-fill-available;
  }
}
.btn-warning {
  box-shadow: 0 0 0 100px #879a9f inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning:hover,
.btn-warning:focus {
  box-shadow: 0 0 0 2px #879a9f inset !important;
  background: transparent!important;
  border: none!important;
  color: #879a9f !important;
}
.btn-warning span {
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
@media (max-width: 767px) {
  .btn-warning {
    width: -webkit-fill-available;
  }
}
.btn-danger {
  box-shadow: 0 0 0 100px #b1a374 inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger:hover,
.btn-danger:focus {
  box-shadow: 0 0 0 2px #b1a374 inset !important;
  background: transparent!important;
  border: none!important;
  color: #b1a374 !important;
}
.btn-danger span {
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
@media (max-width: 767px) {
  .btn-danger {
    width: -webkit-fill-available;
  }
}
.btn-white {
  box-shadow: 0 0 0 100px #ffffff inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border: none!important;
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white:hover,
.btn-white:focus {
  box-shadow: 0 0 0 2px #ffffff inset !important;
  background: transparent!important;
  border: none!important;
  color: #ffffff !important;
}
.btn-white span {
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
@media (max-width: 767px) {
  .btn-white {
    width: -webkit-fill-available;
  }
}
.btn-black {
  box-shadow: 0 0 0 100px #333333 inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black:hover,
.btn-black:focus {
  box-shadow: 0 0 0 2px #333333 inset !important;
  background: transparent!important;
  border: none!important;
  color: #333333 !important;
}
.btn-black span {
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
@media (max-width: 767px) {
  .btn-black {
    width: -webkit-fill-available;
  }
}
.btn-primary-outline {
  box-shadow: 0 0 0 2px #ed6436 inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  color: #181818!important;
  overflow: hidden;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #ad3710;
  color: #ad3710;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #ed6436;
  border-color: #ed6436;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #ed6436 !important;
  border-color: #ed6436 !important;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus {
  box-shadow: 0 0 0 100px #ed6436 inset !important;
  background: transparent!important;
  border: none!important;
  color: white !important;
}
.btn-primary-outline span {
  position: relative;
  color: white!important;
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
.btn-primary-outline span:after {
  content: '';
  position: absolute;
  background: #ed6436;
  width: 60px;
  height: 50px;
  right: -1px;
  top: -15px;
  z-index: -1;
}
@media (max-width: 767px) {
  .btn-primary-outline {
    width: -webkit-fill-available;
  }
}
.btn-secondary-outline {
  box-shadow: 0 0 0 2px #181818 inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  color: #181818!important;
  overflow: hidden;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #181818;
  border-color: #181818;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #181818 !important;
  border-color: #181818 !important;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus {
  box-shadow: 0 0 0 100px #181818 inset !important;
  background: transparent!important;
  border: none!important;
  color: white !important;
}
.btn-secondary-outline span {
  position: relative;
  color: white!important;
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
.btn-secondary-outline span:after {
  content: '';
  position: absolute;
  background: #181818;
  width: 60px;
  height: 50px;
  right: -1px;
  top: -15px;
  z-index: -1;
}
@media (max-width: 767px) {
  .btn-secondary-outline {
    width: -webkit-fill-available;
  }
}
.btn-info-outline {
  box-shadow: 0 0 0 2px #82786e inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  color: #181818!important;
  overflow: hidden;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-info-outline:hover,
.btn-info-outline:focus {
  box-shadow: 0 0 0 100px #82786e inset !important;
  background: transparent!important;
  border: none!important;
  color: white !important;
}
.btn-info-outline span {
  position: relative;
  color: white!important;
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
.btn-info-outline span:after {
  content: '';
  position: absolute;
  background: #82786e;
  width: 60px;
  height: 50px;
  right: -1px;
  top: -15px;
  z-index: -1;
}
@media (max-width: 767px) {
  .btn-info-outline {
    width: -webkit-fill-available;
  }
}
.btn-success-outline {
  box-shadow: 0 0 0 2px #f7ed4a inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  color: #181818!important;
  overflow: hidden;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-success-outline:hover,
.btn-success-outline:focus {
  box-shadow: 0 0 0 100px #f7ed4a inset !important;
  background: transparent!important;
  border: none!important;
  color: white !important;
}
.btn-success-outline span {
  position: relative;
  color: white!important;
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
.btn-success-outline span:after {
  content: '';
  position: absolute;
  background: #f7ed4a;
  width: 60px;
  height: 50px;
  right: -1px;
  top: -15px;
  z-index: -1;
}
@media (max-width: 767px) {
  .btn-success-outline {
    width: -webkit-fill-available;
  }
}
.btn-warning-outline {
  box-shadow: 0 0 0 2px #879a9f inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  color: #181818!important;
  overflow: hidden;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus {
  box-shadow: 0 0 0 100px #879a9f inset !important;
  background: transparent!important;
  border: none!important;
  color: white !important;
}
.btn-warning-outline span {
  position: relative;
  color: white!important;
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
.btn-warning-outline span:after {
  content: '';
  position: absolute;
  background: #879a9f;
  width: 60px;
  height: 50px;
  right: -1px;
  top: -15px;
  z-index: -1;
}
@media (max-width: 767px) {
  .btn-warning-outline {
    width: -webkit-fill-available;
  }
}
.btn-danger-outline {
  box-shadow: 0 0 0 2px #b1a374 inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  color: #181818!important;
  overflow: hidden;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus {
  box-shadow: 0 0 0 100px #b1a374 inset !important;
  background: transparent!important;
  border: none!important;
  color: white !important;
}
.btn-danger-outline span {
  position: relative;
  color: white!important;
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
.btn-danger-outline span:after {
  content: '';
  position: absolute;
  background: #b1a374;
  width: 60px;
  height: 50px;
  right: -1px;
  top: -15px;
  z-index: -1;
}
@media (max-width: 767px) {
  .btn-danger-outline {
    width: -webkit-fill-available;
  }
}
.btn-black-outline {
  box-shadow: 0 0 0 2px #333333 inset !important;
  background: transparent!important;
  font-weight: 700;
  border-radius: 25px;
  color: #181818!important;
  overflow: hidden;
  border-top-left-radius: 0px;
  border: none!important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black-outline:hover,
.btn-black-outline:focus {
  box-shadow: 0 0 0 100px #333333 inset !important;
  background: transparent!important;
  border: none!important;
  color: white !important;
}
.btn-black-outline span {
  position: relative;
  color: white!important;
  font-size: 1.4rem!important;
  padding-right: .6rem!important;
}
.btn-black-outline span:after {
  content: '';
  position: absolute;
  background: #333333;
  width: 60px;
  height: 50px;
  right: -1px;
  top: -15px;
  z-index: -1;
}
@media (max-width: 767px) {
  .btn-black-outline {
    width: -webkit-fill-available;
  }
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #ed6436 !important;
}
.text-secondary {
  color: #181818 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #181818 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #ed6436 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #181818 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff!important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none;
}
.mbr-gallery-filter li.active .btn {
  background-color: #ed6436;
  border-color: #ed6436;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #ed6436;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fef4f1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Nunito', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #ed6436;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #ed6436;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #ed6436;
  border-bottom-color: #ed6436;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #ed6436 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #181818 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section) {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23ed6436' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-rGtQUWfKqN .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rGtQUWfKqN .nav-item:focus,
.cid-rGtQUWfKqN .nav-link:focus {
  outline: none;
}
.cid-rGtQUWfKqN .navbar-short {
  box-shadow: 0px 0px 10px 0px rgba(150, 150, 150, 0.3);
}
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item {
  font-weight: 700!important;
  padding: 0!important;
  border-bottom: 1px solid lightgray;
  margin: 0.5rem 1rem!important;
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item:hover,
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item:active,
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item:focus {
  color: #ed6436 !important;
}
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rGtQUWfKqN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rGtQUWfKqN .navbar-caption:hover {
  color: inherit!important;
}
.cid-rGtQUWfKqN .container {
  max-width: 1380px;
}
.cid-rGtQUWfKqN .nav-dropdown .link {
  padding: 0.8rem 0 !important;
  margin: 0rem 1.5rem !important;
}
.cid-rGtQUWfKqN .nav-link {
  font-weight: 700!important;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
}
.cid-rGtQUWfKqN .nav-link:hover,
.cid-rGtQUWfKqN .nav-link:active,
.cid-rGtQUWfKqN .nav-link:focus {
  border-bottom: 3px solid #ed6436;
  color: #ed6436 !important;
}
.cid-rGtQUWfKqN .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #ffffff;
  background: none;
}
.cid-rGtQUWfKqN .navbar.opened {
  transition: all .3s;
  background: #ffffff !important;
}
.cid-rGtQUWfKqN .navbar .dropdown-item {
  padding: .235rem 1.5rem;
}
.cid-rGtQUWfKqN .navbar .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  z-index: 1;
}
.cid-rGtQUWfKqN .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rGtQUWfKqN .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-rGtQUWfKqN .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-rGtQUWfKqN .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rGtQUWfKqN .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rGtQUWfKqN .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: .25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rGtQUWfKqN .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rGtQUWfKqN .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rGtQUWfKqN .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rGtQUWfKqN .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rGtQUWfKqN .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rGtQUWfKqN .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-rGtQUWfKqN .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rGtQUWfKqN .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rGtQUWfKqN .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: .25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rGtQUWfKqN .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rGtQUWfKqN .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rGtQUWfKqN .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rGtQUWfKqN .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
  }
  .cid-rGtQUWfKqN .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rGtQUWfKqN .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rGtQUWfKqN .navbar.navbar-short {
  background: #ffffff !important;
  min-height: 60px;
}
.cid-rGtQUWfKqN .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rGtQUWfKqN .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rGtQUWfKqN .icons-menu span {
  color: #ed6436 !important;
}
.cid-rGtQUWfKqN .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rGtQUWfKqN .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rGtQUWfKqN .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rGtQUWfKqN .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rGtQUWfKqN .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rGtQUWfKqN .dropdown-item.active,
.cid-rGtQUWfKqN .dropdown-item:active {
  background-color: transparent;
}
.cid-rGtQUWfKqN .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rGtQUWfKqN .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rGtQUWfKqN .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rGtQUWfKqN .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #ffffff;
}
.cid-rGtQUWfKqN .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rGtQUWfKqN .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rGtQUWfKqN ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rGtQUWfKqN .navbar-buttons {
  text-align: center;
}
.cid-rGtQUWfKqN button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rGtQUWfKqN button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #181818;
}
.cid-rGtQUWfKqN button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rGtQUWfKqN button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rGtQUWfKqN button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rGtQUWfKqN button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rGtQUWfKqN nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGtQUWfKqN nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rGtQUWfKqN nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rGtQUWfKqN nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rGtQUWfKqN .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rGtQUWfKqN a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rGtQUWfKqN .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rGtQUWfKqN .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}
.cid-rGtQUWfKqN .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rGtQUWfKqN .navbar {
    height: 77px;
  }
  .cid-rGtQUWfKqN .navbar.opened {
    height: auto;
  }
  .cid-rGtQUWfKqN .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rGtR2nEWKI {
  padding-top: 60px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rGtR2nEWKI .content {
    max-width: 550px;
    margin: auto 0;
  }
}
@media (min-width: 767px) {
  .cid-rGtR2nEWKI .content {
    padding: 0 2rem;
  }
}
.cid-rGtR2nEWKI .row {
  justify-content: flex-end;
}
.cid-rGtR2nEWKI .img-col {
  padding: 0;
}
.cid-rGtR2nEWKI .icon-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  margin-right: 2rem;
}
.cid-rGtR2nEWKI .icon-wrap p {
  margin-bottom: 0.2rem;
}
.cid-rGtR2nEWKI .align-wrap {
  width: fit-content;
  display: inline-block;
}
.cid-rGtR2nEWKI .mbr-iconfont {
  font-size: 5rem;
  padding-right: 1.2rem;
  margin-right: 1.4rem;
  padding-bottom: 4px;
  border-right: 1px solid #181818;
}
.cid-rGtR2nEWKI .icon-title,
.cid-rGtR2nEWKI .mbr-iconfont {
  color: #181818;
}
.cid-rGtR2nEWKI .icons-wrap {
  display: flex;
}
@media (max-width: 992px) {
  .cid-rGtR2nEWKI .content {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rGtR2nEWKI .icons-wrap {
    flex-direction: column;
  }
  .cid-rGtR2nEWKI .icon-wrap {
    margin-right: 0rem;
  }
  .cid-rGtR2nEWKI .link-wrap {
    margin: auto;
  }
}
.cid-rGtR2nEWKI .link-wrap {
  position: relative;
  height: 130px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.cid-rGtR2nEWKI .link-wrap .bone {
  position: absolute;
  left: 50%;
  top: 0;
  right: 50%;
  transform: translateX(-50%);
}
.cid-rGtR2nEWKI .link-wrap h3 {
  z-index: 10;
  margin: 0;
  transform: rotate(-6deg);
}
.cid-rGtR2nEWKI .link-wrap:hover {
  transform: rotate(30deg);
}
.cid-rGtR2MxTqJ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rGtR2MxTqJ .link {
  opacity: 0;
  transform: translate(-10px, 40px);
  transition: all 0.3s;
  font-weight: 600;
  margin: 0;
}
.cid-rGtR2MxTqJ h4 {
  transform: translate(0px, 20px);
  animation: animationFramesOut linear 0.6s;
}
.cid-rGtR2MxTqJ .svg11 path {
  fill: #7aba59;
}
.cid-rGtR2MxTqJ .svg21 path {
  fill: #f9b945;
}
.cid-rGtR2MxTqJ .svg31 path {
  fill: #ed6436;
}
.cid-rGtR2MxTqJ .svg12 path,
.cid-rGtR2MxTqJ .svg22 path,
.cid-rGtR2MxTqJ .svg32 path {
  fill: #f2f2f4;
}
.cid-rGtR2MxTqJ .card {
  position: relative;
  height: 300px;
}
.cid-rGtR2MxTqJ .card:hover .link {
  opacity: 1;
  transform: translate(-10px, 10px);
  transition-delay: 0.6s;
}
.cid-rGtR2MxTqJ .card:hover h4 {
  animation: animationFrames linear 0.6s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  transform: translate(0px, 20px);
}
.cid-rGtR2MxTqJ .card:hover .svg11 {
  transform: skew(0deg, 10deg) scaleX(1) scaleY(0.9) rotate(-10deg);
}
.cid-rGtR2MxTqJ .card:hover .svg12 {
  transform: skew(0deg, 10deg) scaleX(1) scaleY(0.9) rotate(30deg);
}
.cid-rGtR2MxTqJ .card:hover .svg21 {
  transform: skew(-20deg, 10deg) scaleX(1) scaleY(0.9) rotate(-10deg);
}
.cid-rGtR2MxTqJ .card:hover .svg22 {
  transform: skew(-20deg, 10deg) scaleX(1) scaleY(0.9) rotate(20deg);
}
.cid-rGtR2MxTqJ .card:hover .svg31 {
  transform: skew(0deg, 10deg) scaleX(1) scaleY(0.9) rotate(-10deg);
}
.cid-rGtR2MxTqJ .card:hover .svg32 {
  transform: skew(0deg, 10deg) scaleX(1) scaleY(0.9) rotate(70deg);
}
.cid-rGtR2MxTqJ .card svg {
  position: absolute;
  top: -10px;
  left: 40px;
  transform: scale(0.9);
  transition: transform 800ms cubic-bezier(0.7, -0.5, 0.25, 1.5);
}
.cid-rGtR2MxTqJ .card .svg22,
.cid-rGtR2MxTqJ .card .svg32,
.cid-rGtR2MxTqJ .card .svg12 {
  z-index: 1;
  transform: scale(0.9) rotate(60deg);
}
.cid-rGtR2MxTqJ .card .svg21,
.cid-rGtR2MxTqJ .card .svg31,
.cid-rGtR2MxTqJ .card .svg11 {
  z-index: 2;
}
.cid-rGtR2MxTqJ .card div {
  z-index: 3;
}
.cid-rGtR2MxTqJ .card .card-img {
  position: absolute;
  right: 30px;
  top: 30px;
}
@keyframes animationFrames {
  0% {
    transform: translate(0px, 20px);
  }
  33% {
    transform: translate(0px, 20px);
    opacity: 1;
  }
  66% {
    transform: translate(0px, -30px);
    opacity: 0;
  }
  67% {
    transform: translate(0px, 60px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 20px);
    opacity: 1;
  }
}
@keyframes animationFramesOut {
  0% {
    transform: translate(0px, 20px);
    opacity: 1;
  }
  33% {
    transform: translate(0px, 20px);
    opacity: 1;
  }
  66% {
    transform: translate(0px, 60px);
    opacity: 0;
  }
  67% {
    transform: translate(0px, -30px);
    opacity: 0;
  }
  100% {
    transform: translate(0px, 20px);
    opacity: 1;
  }
}
.cid-rGtR2MxTqJ .card-img {
  background: white;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(150, 150, 150, 0.3);
}
.cid-rGtR2MxTqJ .mbr-iconfont {
  color: #383838 !important;
  font-size: 2.5rem!important;
}
.cid-rGtR2MxTqJ .link a {
  position: relative;
  margin: 0;
  font-weight: 600;
}
.cid-rGtR2MxTqJ .link a:after {
  position: absolute;
  content: "\e967";
  font-family: 'mobirise-icons-bold' !important;
  right: -30px;
  top: -1px;
  color: currentColor;
}
.cid-rGtR2MxTqJ .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-rGtR2MxTqJ .card {
    margin-bottom: 2rem;
  }
  .cid-rGtR2MxTqJ .card svg {
    left: 30px;
  }
  .cid-rGtR2MxTqJ .card:hover h4 {
    animation: none;
  }
  .cid-rGtR2MxTqJ .link {
    opacity: 1;
    transform: translate(-10px, 10px);
  }
  .cid-rGtR2MxTqJ h4 {
    animation: none;
  }
}
@media (max-width: 767px) {
  .cid-rGtR2MxTqJ .card {
    max-width: 360px;
  }
  .cid-rGtR2MxTqJ .card svg {
    left: 10px;
  }
}
.cid-rGtR35bime {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rGtR35bime .content {
    max-width: 550px;
    margin: auto 0;
  }
}
@media (min-width: 767px) {
  .cid-rGtR35bime .content {
    padding: 0 2rem;
  }
}
.cid-rGtR35bime .img-col {
  padding: 0;
}
.cid-rGtR35bime .icon-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  margin-right: 2rem;
}
.cid-rGtR35bime .icon-wrap h3 {
  margin: 0;
}
.cid-rGtR35bime .align-wrap {
  width: fit-content;
  display: inline-block;
}
.cid-rGtR35bime .mbr-iconfont {
  font-size: 1.8rem;
  padding-right: 0.8rem;
  padding-bottom: 4px;
}
.cid-rGtR35bime .icon-title,
.cid-rGtR35bime .mbr-iconfont {
  color: #181818;
}
.cid-rGtR35bime .icons-wrap {
  display: flex;
}
@media (max-width: 992px) {
  .cid-rGtR35bime .content {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rGtR35bime .icons-wrap {
    flex-direction: column;
  }
  .cid-rGtR35bime .icon-wrap {
    margin-right: 0rem;
  }
}
.cid-rGtR3muz6c {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rGtR3muz6c .mbr-text {
  color: #767676;
}
.cid-rGtR3muz6c .mbr-iconfont {
  color: #7aba59 !important;
  font-size: 4rem!important;
}
.cid-rGtR3muz6c .card-img {
  margin-bottom: 3rem;
}
.cid-rGtR3muz6c .card-wrapper {
  background: #f2f2f4;
  padding: 3rem 2rem;
  border-radius: 30px;
}
.cid-rGtR3muz6c .link {
  margin: 0;
}
.cid-rGtR3muz6c p {
  font-weight: 400;
}
.cid-rGtR3muz6c .link a {
  position: relative;
  margin: 0;
  font-weight: 600;
  transition: all 0.3s;
}
.cid-rGtR3muz6c .link a:hover {
  color: #181818 !important;
}
.cid-rGtR3muz6c .link a:after {
  position: absolute;
  content: "\e967";
  font-family: 'mobirise-icons-bold' !important;
  right: -30px;
  top: -1px;
  color: currentColor;
}
.cid-rGtR3muz6c .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-rGtR3muz6c .card {
    margin-bottom: 3rem;
  }
}
.cid-rGtR3muz6c .mbr-text,
.cid-rGtR3muz6c .link {
  color: #383838;
}
@media (max-width: 767px) {
  .cid-rGtR3muz6c .card-wrapper {
    padding: 2rem 1rem;
  }
}
.cid-rOFupeuqUN {
  padding-top: 105px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-rOFupeuqUN .card-img {
  position: relative;
  height: 100%;
}
.cid-rOFupeuqUN .card-img img {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
}
.cid-rOFupeuqUN .bone-col {
  padding: 2rem 0;
}
.cid-rOFupeuqUN .card-wrapper {
  padding: 1.5rem 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
}
.cid-rOFupeuqUN .row {
  background: #ffc448;
  border-radius: 80px;
  margin-top: 6rem;
  border-top-left-radius: 0px;
  justify-content: center;
  padding: 0rem;
}
.cid-rOFupeuqUN p {
  font-weight: 400;
}
@media (max-width: 992px) {
  .cid-rOFupeuqUN .card-img img {
    width: 70%;
    position: relative;
    left: auto;
    right: auto;
    transform: none;
  }
}
@media (max-width: 767px) {
  .cid-rOFupeuqUN .row {
    margin: 0rem;
    border-radius: 50px;
  }
}
.cid-rOFupeuqUN .link-wrap {
  position: relative;
  height: 130px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.cid-rOFupeuqUN .link-wrap .bone {
  position: absolute;
  left: 50%;
  top: 0;
  right: 50%;
  transform: translateX(-50%);
}
.cid-rOFupeuqUN .link-wrap h3 {
  z-index: 10;
  margin: 0;
  transform: rotate(-6deg);
}
.cid-rOFupeuqUN .link-wrap:hover {
  transform: rotate(12deg);
}
.cid-rGtR7c7Dy7 {
  padding-top: 45px;
  padding-bottom: 120px;
  background-color: #ffffff;
}
.cid-rGtR7c7Dy7 .mbr-iconfont {
  font-size: 3.5rem;
  color: #ed6436;
  padding-right: 2rem;
  padding-top: 0.6rem;
  display: block;
}
.cid-rGtR7c7Dy7 .card {
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.cid-rGtR7c7Dy7 h4 {
  margin: 0;
}
.cid-rGtR7c7Dy7 h3 {
  margin: 0;
  max-height: 60px;
}
@media (max-width: 992px) {
  .cid-rGtR7c7Dy7 .card {
    padding-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rGtR7c7Dy7 .card {
    flex-direction: column;
    align-items: center;
  }
  .cid-rGtR7c7Dy7 .mbr-iconfont {
    padding-right: 0rem;
    text-align: center;
    padding-bottom: 0.5rem;
  }
  .cid-rGtR7c7Dy7 h4 {
    text-align: center;
  }
}
.cid-rGtR4gKLIa {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .cid-rGtR4gKLIa .content {
    max-width: 550px;
    margin: auto 0;
  }
}
@media (min-width: 767px) {
  .cid-rGtR4gKLIa .content {
    padding: 0 2rem;
  }
}
.cid-rGtR4gKLIa .img-col {
  padding: 0;
}
.cid-rGtR4gKLIa .icon-wrap {
  width: fit-content;
  padding-bottom: 1.5rem;
}
.cid-rGtR4gKLIa p {
  font-weight: 700;
  line-height: 1.6;
}
.cid-rGtR4gKLIa .mbr-iconfont {
  font-size: 5rem;
  color: #ed6436 !important;
}
.cid-rGtR4gKLIa .icon-title,
.cid-rGtR4gKLIa .mbr-iconfont {
  color: #181818;
}
@media (max-width: 992px) {
  .cid-rGtR4gKLIa .content {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .cid-rGtR4gKLIa .icon-wrap {
    margin: auto;
  }
}
.cid-rGtR4gKLIa H3 {
  color: #ed6436;
}
.cid-rOFIkgX8IF {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-rOFIkgX8IF .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.7;
}
.cid-rOFIkgX8IF .select {
  z-index: 999;
}
.cid-rOFIkgX8IF .mbr-form {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media (min-width: 992px) {
  .cid-rOFIkgX8IF .mbr-form {
    max-width: 500px;
  }
}
.cid-rOFIkgX8IF .img-col {
  padding: 0;
}
.cid-rOFIkgX8IF form {
  padding: 2rem 2rem;
  background: #f2f2f4;
  border-radius: 30px;
}
.cid-rOFIkgX8IF .jq-selectbox__dropdown,
.cid-rOFIkgX8IF ul {
  border-radius: 20px!important;
}
.cid-rOFIkgX8IF .jq-selectbox {
  border-radius: 30px;
}
.cid-rOFIkgX8IF .jq-selectbox__select {
  padding: 1.2rem 1.5rem;
}
.cid-rOFIkgX8IF .jq-selectbox li {
  padding: 1.2rem 1.5rem;
}
.cid-rOFIkgX8IF input,
.cid-rOFIkgX8IF textarea,
.cid-rOFIkgX8IF .select {
  border-radius: 30px;
}
.cid-rOFIkgX8IF input,
.cid-rOFIkgX8IF textarea {
  padding: 2rem 3rem;
}
.cid-rOFIkgX8IF textarea {
  min-height: 10rem;
}
.cid-rOFIkgX8IF .form-control,
.cid-rOFIkgX8IF .field-input {
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  border-color: #f2f2f4;
  color: #181818;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rOFIkgX8IF .form-control::-webkit-input-placeholder,
.cid-rOFIkgX8IF .field-input::-webkit-input-placeholder,
.cid-rOFIkgX8IF .form-control::-webkit-input-placeholder,
.cid-rOFIkgX8IF .field-input::-webkit-input-placeholder {
  color: #383838;
}
.cid-rOFIkgX8IF .form-control:-moz-placeholder,
.cid-rOFIkgX8IF .field-input:-moz-placeholder,
.cid-rOFIkgX8IF .form-control:-moz-placeholder,
.cid-rOFIkgX8IF .field-input:-moz-placeholder {
  color: #383838;
}
.cid-rOFIkgX8IF .form-control:hover,
.cid-rOFIkgX8IF .field-input:hover,
.cid-rOFIkgX8IF .form-control:focus,
.cid-rOFIkgX8IF .field-input:focus {
  background-color: #ffffff;
  border-color: #ed6436;
  color: #181818;
  box-shadow: none;
  outline: none;
}
.cid-rOFIkgX8IF .form-control:hover::-webkit-input-placeholder,
.cid-rOFIkgX8IF .field-input:hover::-webkit-input-placeholder,
.cid-rOFIkgX8IF .form-control:focus::-webkit-input-placeholder,
.cid-rOFIkgX8IF .field-input:focus::-webkit-input-placeholder,
.cid-rOFIkgX8IF .form-control:hover::-webkit-input-placeholder,
.cid-rOFIkgX8IF .field-input:hover::-webkit-input-placeholder,
.cid-rOFIkgX8IF .form-control:focus::-webkit-input-placeholder,
.cid-rOFIkgX8IF .field-input:focus::-webkit-input-placeholder {
  color: #383838;
}
.cid-rOFIkgX8IF .form-control:hover:-moz-placeholder,
.cid-rOFIkgX8IF .field-input:hover:-moz-placeholder,
.cid-rOFIkgX8IF .form-control:focus:-moz-placeholder,
.cid-rOFIkgX8IF .field-input:focus:-moz-placeholder,
.cid-rOFIkgX8IF .form-control:hover:-moz-placeholder,
.cid-rOFIkgX8IF .field-input:hover:-moz-placeholder,
.cid-rOFIkgX8IF .form-control:focus:-moz-placeholder,
.cid-rOFIkgX8IF .field-input:focus:-moz-placeholder {
  color: #383838;
}
.cid-rOFIkgX8IF .jq-number__spin:hover,
.cid-rOFIkgX8IF .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #ed6436;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rOFIkgX8IF .jq-number__spin {
  background-color: #ffffff;
  border-color: #f2f2f4;
  color: #181818;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rOFIkgX8IF .jq-selectbox li,
.cid-rOFIkgX8IF .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rOFIkgX8IF .jq-selectbox li:hover,
.cid-rOFIkgX8IF .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rOFIkgX8IF .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-rOFIkgX8IF .jq-number__spin.minus:hover:after,
.cid-rOFIkgX8IF .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rOFIkgX8IF .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-rOFIkgX8IF .jq-number__spin.minus:after,
.cid-rOFIkgX8IF .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rOFIkgX8IF input::-webkit-clear-button {
  display: none;
}
.cid-rOFIkgX8IF input::-webkit-inner-spin-button {
  display: none;
}
.cid-rOFIkgX8IF input::-webkit-outer-spin-button {
  display: none;
}
.cid-rOFIkgX8IF input::-webkit-calendar-picker-indicator {
  display: none;
}
@media (max-width: 992px) {
  .cid-rOFIkgX8IF .mbr-form {
    margin-bottom: 2rem;
  }
}
@media (max-width: 767px) {
  .cid-rOFIkgX8IF form {
    padding: 2rem 1rem;
  }
  .cid-rOFIkgX8IF .col-auto {
    margin: auto;
    width: 100%;
  }
  .cid-rOFIkgX8IF .mbr-form {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.cid-rOFIkgX8IF H4 {
  color: #ed6436;
}
.cid-rGtR7R8cSt {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-rGtR7R8cSt .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.7;
}
.cid-rGtR7R8cSt img {
  width: 40px;
  height: 40px;
  margin-right: 0.8rem;
}
.cid-rGtR7R8cSt h3 {
  margin: 0;
}
.cid-rGtR7R8cSt .btn {
  width: 100%;
  border-radius: 30px;
  border-top-right-radius: 0;
  padding: 0.4rem 1rem;
}
.cid-rGtR7R8cSt .icons-wrap {
  display: flex;
  align-items: center;
}
.cid-rGtR7R8cSt .text-wrap {
  width: 100%;
}
.cid-rGtR7R8cSt .item-wrap {
  display: inline-block;
  width: fit-content;
}
.cid-rGtR7R8cSt .socicon-wrap {
  width: fit-content;
  display: flex;
  margin-bottom: 0.8rem;
}
.cid-rGtR7R8cSt .socicon-wrap .mbr-iconfont {
  font-size: 1.2rem;
  color: #ffffff !important;
  background: #ed6436;
  padding: 10px;
  margin-right: 0.6rem;
  border: 2px solid #ed6436;
  height: 40px;
  display: flex;
  width: 40px;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  border-radius: 100%;
}
.cid-rGtR7R8cSt .socicon-wrap .mbr-iconfont:hover {
  background: #ffffff;
  color: #ed6436 !important;
  border: 2px solid #ed6436;
}
.cid-rGtR7R8cSt .socicon-wrap p {
  margin-bottom: 0.2rem;
}
.cid-rGtR7R8cSt .jq-selectbox__dropdown,
.cid-rGtR7R8cSt ul {
  border-radius: 20px!important;
}
.cid-rGtR7R8cSt .jq-selectbox {
  border-radius: 30px;
}
.cid-rGtR7R8cSt .jq-selectbox__select {
  padding: 1.2rem 1.5rem;
}
.cid-rGtR7R8cSt .jq-selectbox li {
  padding: 1.2rem 1.5rem;
}
.cid-rGtR7R8cSt input,
.cid-rGtR7R8cSt textarea,
.cid-rGtR7R8cSt .select {
  border-radius: 30px;
}
.cid-rGtR7R8cSt input,
.cid-rGtR7R8cSt textarea {
  padding: 1rem 2rem;
}
.cid-rGtR7R8cSt textarea {
  min-height: 10rem;
}
.cid-rGtR7R8cSt .form-control,
.cid-rGtR7R8cSt .field-input {
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  border-color: #cccccc;
  color: #181818;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rGtR7R8cSt .form-control::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input::-webkit-input-placeholder,
.cid-rGtR7R8cSt .form-control::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input::-webkit-input-placeholder {
  color: #383838;
}
.cid-rGtR7R8cSt .form-control:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:-moz-placeholder,
.cid-rGtR7R8cSt .form-control:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:-moz-placeholder {
  color: #383838;
}
.cid-rGtR7R8cSt .form-control:hover,
.cid-rGtR7R8cSt .field-input:hover,
.cid-rGtR7R8cSt .form-control:focus,
.cid-rGtR7R8cSt .field-input:focus {
  background-color: #ffffff;
  border-color: #ed6436;
  color: #181818;
  box-shadow: none;
  outline: none;
}
.cid-rGtR7R8cSt .form-control:hover::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input:hover::-webkit-input-placeholder,
.cid-rGtR7R8cSt .form-control:focus::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input:focus::-webkit-input-placeholder,
.cid-rGtR7R8cSt .form-control:hover::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input:hover::-webkit-input-placeholder,
.cid-rGtR7R8cSt .form-control:focus::-webkit-input-placeholder,
.cid-rGtR7R8cSt .field-input:focus::-webkit-input-placeholder {
  color: #383838;
}
.cid-rGtR7R8cSt .form-control:hover:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:hover:-moz-placeholder,
.cid-rGtR7R8cSt .form-control:focus:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:focus:-moz-placeholder,
.cid-rGtR7R8cSt .form-control:hover:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:hover:-moz-placeholder,
.cid-rGtR7R8cSt .form-control:focus:-moz-placeholder,
.cid-rGtR7R8cSt .field-input:focus:-moz-placeholder {
  color: #383838;
}
.cid-rGtR7R8cSt .jq-number__spin:hover,
.cid-rGtR7R8cSt .jq-number__spin:focus {
  background-color: #ffffff;
  border-color: #ed6436;
  color: #ffffff;
  box-shadow: none;
  outline: none;
}
.cid-rGtR7R8cSt .jq-number__spin {
  background-color: #ffffff;
  border-color: #cccccc;
  color: #181818;
  transition: 0.4s;
  box-shadow: none;
  outline: none;
}
.cid-rGtR7R8cSt .jq-selectbox li,
.cid-rGtR7R8cSt .jq-selectbox li {
  background-color: #ffffff;
  color: #000000;
}
.cid-rGtR7R8cSt .jq-selectbox li:hover,
.cid-rGtR7R8cSt .jq-selectbox li.selected {
  background-color: #ffffff;
  color: #000000;
}
.cid-rGtR7R8cSt .jq-selectbox:hover .jq-selectbox__trigger-arrow,
.cid-rGtR7R8cSt .jq-number__spin.minus:hover:after,
.cid-rGtR7R8cSt .jq-number__spin.plus:hover:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rGtR7R8cSt .jq-selectbox .jq-selectbox__trigger-arrow,
.cid-rGtR7R8cSt .jq-number__spin.minus:after,
.cid-rGtR7R8cSt .jq-number__spin.plus:after {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
.cid-rGtR7R8cSt input::-webkit-clear-button {
  display: none;
}
.cid-rGtR7R8cSt input::-webkit-inner-spin-button {
  display: none;
}
.cid-rGtR7R8cSt input::-webkit-outer-spin-button {
  display: none;
}
.cid-rGtR7R8cSt input::-webkit-calendar-picker-indicator {
  display: none;
}
.cid-rGtR7R8cSt .col-md-6 {
  margin-bottom: 2rem;
}
.cid-rGtR7R8cSt .form-group {
  margin-bottom: 0.4rem;
}
.cid-rGtR7R8cSt .form-control {
  min-height: 2em;
  font-size: 1rem;
  text-align: center;
}
.cid-rGtR7R8cSt .title1 {
  margin: 0;
}
.cid-rGtR7R8cSt .align-wrap {
  display: block;
}
.cid-rGtR7R8cSt .mbr-iconfont {
  font-size: 1.2rem;
  color: #181818 !important;
  padding-right: 1rem;
}
@media (max-width: 767px) {
  .cid-rGtR7R8cSt form {
    padding: 0;
  }
  .cid-rGtR7R8cSt .socicon-wrap {
    margin: auto;
  }
}
.cid-rGtR7R8cSt .title {
  color: #ed6436;
}
.cid-rGtR88ABmx {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ed6436;
}
